body {
  font-family: Arial;
  background:#0a0f2c;
  color:white;
  padding:20px;
}

header {
  text-align:center;
}

button {
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#00b4d8;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

input {
  padding:10px;
  border-radius:6px;
  border:none;
  margin:5px;
}

.product {
  background:#111;
  padding:10px;
  margin:10px;
  border-radius:10px;
}



















